{% if wiki.IsAlive() %}
<div class="modal" id="modalEdicion">
    <div onclick="refs.modalEdicion.close()" class="modal-background"></div>
    <div class="modal-content">
        <article class="message is-danger">
            <div class="message-header">
                <p>Danger</p>
                <button class="delete" onclick="refs.modalEdicion.close()" aria-label="delete"></button>
            </div>
            <div class="message-body">
                Delete the <strong>{{page.name|e}}</strong> page?
                {# tempus purus diam, et dictum <a>felis venenatis</a> efficitur. Aenean ac <em>eleifend
                lacus</em>, in mollis a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem. #}
                <br/>
                <div class="buttons is-right">
                    <p class="control">
                        <button class="button" onclick="refs.modalEdicion.close()">Cancel</button>
                    </p>
                    <p class="control">
                        <button class="button is-danger"
                                onclick="deletePage(refs.modalEdicion.close)">Delete page</button>
                    </p>
                </div>

            </div>

        </article>
    </div>
</div>

<script>
var refs = {
  modalEdicion: {
      open: function () {
          document.getElementById('modalEdicion').classList.add('is-active');
      },
      close: function () {
          document.getElementById('modalEdicion').classList.remove('is-active');
      }
  }
};
</script>
{% endif %}
