<div id="content2">
    <textarea id="the-text-area" class="form-control" aria-label="With textarea"></textarea>
</div>

<script>
    async function post(url, newdata) {
        var formData = new FormData();
        formData.append('text', newdata)
        result = await fetch(url, {
            method: 'POST',
            body: new URLSearchParams(formData),
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
            }
        });
        return result;
    }

    async function my_save(editor) {
        if (editor !== simplemde) {
            alert('editors differ!');
        }
        const newdata = simplemde.value();
        result = await post(document.location, newdata);
        if (result.ok) {
            docsrc = newdata;
            document.location = '{{wiki.getPageUrl(page.name, action=VIEW_ACTION)}}';
        }
        return result.ok;
    }


    const toolbar = [
        'bold',
        'italic',
        'strikethrough',
        'heading',
        // 'heading-smaller',
        // 'heading-bigger',
        // 'heading-1',
        // 'heading-2',
        // 'heading-3',
        'code',
        'quote',
        'unordered-list',
        'ordered-list',
        'clean-b    lock',
        'link',
        'image',
        'table',
        'horizontal-rule',
        'preview',
        //'side-by-side',
        //'fullscreen
        //'guide,
        '|',
        {
            name: 'Save',
            action: function (editor) {
                my_save(editor).then((ok) => console.log('save ok? : ', ok)).catch(console.error);
            },
            className: "fa fa-save",
            title: "Save"
        }
    ];


    const simplemde = new SimpleMDE({
        initialValue: docsrc,
        autofocus: true,
        spellChecker: false,
        toolbar: toolbar,
        previewRender: function (plainText, preview) {
            post('/shinki/md', plainText).then((response)=>{
                response.text().then(
                    result=>{
                        preview.innerHTML='<div class="content">'+result+'</div>';
                    }).catch(console.error);
            });
            return "Loading...";
        },
    });
</script>
