<footer class="footer">
    <section class="hero is-medium">
        <!-- Hero content: will be in the middle -->
        <div class="hero-body">
            <div class="container has-text-centered">

                <nav class="level">
                  <p class="level-item has-text-centered">
                    <a class="is-info title" href="{{wiki.PROJECT_URL}}">Support</a>
                    &nbsp;<img src="/imgs/shinki64.png" alt="Shinki">&nbsp;
                    <a class="is-info title" href="{{wiki.PROJECT_URL}}">Shinki!</a>
                  </p>
                </nav>

            </div>
        </div>

    </section>
</footer>
