<div class="box">
    <div class="field is-grouped is-grouped-multiline">
        {% for pagename in wiki.getPages() %}
        {%- if page.name!=pagename -%}

        <div class="control">
            <div class="tags has-addons">
                <a class="tag is-info"
                href="{{wiki.getPageUrl(pagename, action=VIEW_ACTION)}}">{{ pagename|e }}</a>
            </div>
        </div>

        {% else %}
        <div class="control">
            <div class="tags has-addons">
                <a class="tag is-active">{{ pagename|e }}</a>
                {% if wiki.IsAlive() %}
                <a class="tag is-delete is-danger" onclick="refs.modalEdicion.open()"></a>
                {%- endif -%}
            </div>
        </div>

        {%- endif -%}
        {% endfor %}
    </div>
</div>

{% if wiki.IsAlive() %}
<script>
    async function submitDelete(pagename) {
        var formData = new FormData();
        formData.append('text', 'Please delete ' + pagename + " mr. shinki.")
        result = await fetch(document.location, {
            method: 'DELETE',
            body: new URLSearchParams(formData),
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
            }
        });
        return result;
    }

    function deletePage() {
        const pagename = '{{page.name|e}}';
        submitDelete(pagename).then(() => {
            document.location = '/'
        }).catch(alert);
        if (f) {
            f();
        }
    }
</script>
{%- endif -%}
