<div class="box">

    <div class="field is-grouped is-grouped-multiline">
        <div class="control">
            <div class="tags has-addons">
                <a class="tag" href="{{wiki.PROJECT_URL}}">This is</a>
                <a class="tag is-danger" href="{{wiki.PROJECT_URL}}">Shinki</a>
            </div>
        </div>
    </div>

    <a href="https://bulma.io">
        <img
                src="https://bulma.io/images/made-with-bulma.png"
                alt="Made with Bulma"
                width="128"
                height="24">
    </a>

</div>
