{% if wiki.IsAlive() and page.isNew() %}
<div class="notification is-warning">
<!--    <button class="delete"></button>-->
    This is an <strong>unsaved</strong> page. You can edit its content and then save it.
</div>
{% endif %}
