<div class="box">
    <div id="content" class="content">
        {% if not wiki.IsAlive() or marked!='' %}
        {{marked|safe}}
        {% endif %}
    </div>
    {% include 'delconfirmation.html' with context %}
</div>


{% if wiki.IsAlive() and marked=='' %}
<script>
    const tmpsrc = marked(docsrc);
    document.getElementById('content').innerHTML = tmpsrc;
</script>
{% endif %}
